.popup {
    position: fixed;
    min-width: 100vw;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
}