.profile__edit {
    border: 0.1px solid #fff;
    box-sizing: border-box;
    padding: 6px;
    position: relative;
    left: 10px;
    background: transparent;
    width: 24px;
    height: 24px;
    bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile__edit:hover {
    opacity: 0.6;
}