.popup__name {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #000;
    border: none;
    border-bottom: 1px solid rgb(204, 204, 204);
    margin-top: 75px;
    padding-bottom: 13px;
    outline: none;
}

@media screen and (min-width: 900px) {
    .popup__name {
        margin-top: 54px;
    }
}
