.profile__item {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    justify-items: center;
    display: inline;
    max-width: 250px;
    
}

@media screen and (min-width: 450px) {
    .profile__item {
        max-width: 350px;
    }
}